<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span *ngIf="!isCollapsed" class="d-flex">
      <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/skills">Skills</a>
      <a class="nav-link" routerLink="/eexperience">Work</a>



      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click) ="setCustomeLan('en')"   >Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <span class="spacer"></span>
      <app-theme-menu 
        [options]="options$ | async"
        (themeChange)="themeChangeHandler($event)">
      </app-theme-menu>

    </span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="d-lg-none d-md-block" aria-label="menu" color="primary"
      (click)="isCollapsed = !isCollapsed">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>