<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span *ngIf="!isCollapsed" class="d-flex d-xs-none ">
      <a class="nav-link text-white" routerLink=""  (click)="showBgImg()"  >Home <span class="sr-only">(current)</span></a>
      <a class="nav-link text-white" routerLink="/skills" routerLinkActive="active-link" (click)="showBgImg()">Skills</a>
      <a class="nav-link text-white" routerLink="/eexperience" routerLinkActive="active-link" (click)="showBgImg()">Work</a>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setCustomeLan('es')">ES</button>
        <button mat-menu-item (click)="setCustomeLan('en')">EN</button>
        <button mat-menu-item (click)="setCustomeLan('fr')">FR</button>
      </mat-menu>


      <button mat-button>
        <app-theme-menu [options]="options$ | async" (themeChange)="themeChangeHandler($event)">
        </app-theme-menu>
      </button>


    </span>

    <!-- <button mat-icon-button class="d-lg-none d-md-block" aria-label="menu" color="primary"
      (click)="isCollapsed = !isCollapsed">
      <mat-icon>menu</mat-icon>
    </button> -->
    
  </mat-toolbar-row>
</mat-toolbar>