
<div class="row skills">

    <div class="  col-lg-4 edu-cert-courses  ">
        <!-- Studies -->
        <div class="card"     >
            <div class="card-header" (click) = "changeVisibility('education')">
                {{ 'educationTitle' | translate }}
            </div>
            <div class="card-body" *ngIf="skillsVisibility.education.visible">
                <ul *ngFor="let item of educationsArr">
                    <li> {{  item.grade | translate }} {{  item.career | translate }} </li>
                    <ul>
                        <li> {{  item.university | translate }} | {{  item.years | translate }}
                            {{  item.state | translate }} </li>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- Certifications -->
        <div class="card" >
            <div class="card-header" (click) = "changeVisibility('certifications')">
                {{ 'certificationsTitle' | translate }}
            </div>
            <div class="card-body" *ngIf="skillsVisibility.certifications.visible">
                <ul *ngFor="let item of certificationsArr">
                    <li> {{  item.title  }} </li>
                    <ul>
                        <li> {{  item.host  }} | {{  item.state | translate }} </li>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- Courses -->
        <div class="card" (click) = "changeVisibility('courses')">
            <div class="card-header">
                {{ 'otherCoursesTitle' | translate }}
            </div>
            <div class="card-body" *ngIf="skillsVisibility.courses.visible">
                <ul *ngFor="let item of coursessArr">
                    <li> {{  item.course  }} | {{  item.host  }} | {{  item.year  }} </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <!-- Languages -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('languages')">
                {{ 'languagesTitle' | translate }}            
            </div>
            <div class="card-body text-center langs" *ngIf="skillsVisibility.languages.visible">
                <table class="table table-striped  table-hover ">
                    <thead class="thead-dark">
                        <th *ngFor="let item of languagesHeadersArr">
                            {{  item | translate}}
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of languagesArr">
                            <td> <span  [innerHTML]="item.icon" ></span>   {{ item.name | translate }} </td>
                            <td> {{ item.reading }}% </td>
                            <td> {{ item.writing }}% </td>
                            <td> {{ item.speaking }}% </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Programming Languages -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('programming')">
                {{ 'programmingLangTitle' | translate }}
            
            </div>
            <div class="card-body" *ngIf="skillsVisibility.programming.visible">
                <div>
                    <div>
                        <div style="display: block">
                        <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

        <!-- Frameworks -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('frameworks')">
                {{ 'framworksTitle' | translate }}
            </div>
            <div class="card-body" *ngIf="skillsVisibility.frameworks.visible">
                <table class="table  table-hover">
                    <thead class="thead-dark">
                        <th> {{ 'language' | translate }}</th>
                        <th colspan="3"> {{ 'framework' | translate }} </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fwArr">
                            <td >  <img [src]="item.icon" alt="language" class="lang-img"  >  </td>
                            <td  *ngFor="let fw of item.fw">
                                {{ fw.fw  }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    

    <div class="col-lg-4">
        <!-- Techs -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('infrastructure')">
                {{ 'techTitle' | translate }}
            </div>
            <div class="card-body"  *ngIf="skillsVisibility.infrastructure.visible">
                <!-- Work Process -->
                <table class="table table-striped   table-hover">
                    <thead class="thead-dark">
                        <th> {{ techTableHd[0] | translate }}  </th>
                        <th> {{ techTableHd[1] | translate }}  </th>
                        <th> {{ techTableHd[2] | translate }}  </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of techs">
                            <td> {{ item.wp }} </td>
                            <td> {{ item.server }} </td>
                            <td> {{ item.arch }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- OS -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('os')">
                {{ techTableHd[3] | translate }}        
            </div>
            <div class="card-body" *ngIf="skillsVisibility.os.visible">
                <div class="d-flex">
                    <div *ngFor="let item of os"   [class] = "item.class" class="skill-sub-cont">
                        <p>  <span  [innerHTML]="item.icon" ></span>   {{  item.so }} </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Data Base -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('db')">
                {{ techTableHd[4] | translate }}
            </div>
            <div class="card-body"  *ngIf="skillsVisibility.db.visible">
                <div class="d-flex">
                    <div *ngFor="let item of db" [class] = "item.class" class="skill-sub-cont">
                         <p> <span  [innerHTML]="item.icon" ></span>   {{  item.name }} </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTROL VERSION -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('controlversion')">
                {{ techTableHd[5] | translate }}                
            </div>
            <div class="card-body" *ngIf="skillsVisibility.controlversion.visible">
                <div class="d-flex">
                    <div  *ngFor="let item of cv" [class] = "item.class" class="skill-sub-cont">
                        <p> <span  [innerHTML]="item.icon" ></span>  {{  item.name }}  </p>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- DEPLOY -->
        <div class="card">
            <div class="card-header" (click) = "changeVisibility('deploy')">
                {{ techTableHd[6] | translate }}
            </div>
            <div class="card-body" *ngIf="skillsVisibility.deploy.visible">
                <div class="d-flex">
                    <div  *ngFor="let item of ot" [class] = "item.class" class="skill-sub-cont">
                        <p> <span  [innerHTML]="item.icon" ></span>  {{  item.name }}  </p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    
</div>