
.skills {
    position: absolute;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    /* background-color: gray ; */
    background-size: cover;
    background-position: center center; 
    margin: 0;
    padding-top: 5vh;
    font-size: 0.9rem;
}

.card {
    margin-bottom: 5%;
}
.card-body {
    display: contents;
}


.skill-sub-cont {
    margin-left: 5%;

}

.lang-img {
    width: 25%;
}


