.container-fluid {
  padding: 0;
}

.mat-drawer-container {
  /* min-height: 120vh; */
  position: relative;
}

.main-bg {
  /* background-color: black; */
  background-image: url(../assets//img/main-bg.jpg);
  background-color: #05A0FC;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 80%;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}




@media screen and (max-width:320px) {
  .container-fluid {
    width: max-content;
  }

  .main-bg {
    background-size: 120%;
  }
  
  
}



