<div class="row home-row">
  
  <div class="col-lg-12   water-home">
    <div>
      <h1>
        {{ homeStrings[1] | translate }}
      </h1>
    </div>


    <!-- <canvas #myCanvas id="myCanvas"  class="col-lg-12" ></canvas> -->
    <img [src]="imgUrl"  alt="moon"  class="water-moon">
  </div>


   <div class="col-lg-12 water-home">
    <img [src]="imgUrl"  alt="moon"  class="sky-moon">
    
  </div>


  <div class="col-lg-12 h-100 star-girl">
    <div class="h-100 star-girl-img">

    </div>


    <!-- <img [src]="starGirlImgUrl"  alt="moon"  > -->
  </div>


</div>


